/*these are the style rules used for the main homepage, blog, addpPost and logn pages*/

/*this is the import for all three of the google fonts used throughout the website*/
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Lalezar&family=Ysabeau+SC:wght@1..1000&display=swap');

/*these are all of the general variables used throughout the design of the website*/
:root{
    --mainBackgroundColour:#d1c8c8;
    --headerFooterColour:#551e19;
    --generalDivColour:rgb(25, 25, 25);
    --innerDivColour:#faaf6d;
    --headingsColour:#cf621a;
    --mainTextColour:#d1c8c8;
    --darkTextColour:rgb(49, 49, 49);
    --secondaryTextColour:#F9943B;
}

/*general style rules applied for general elements*/
body{
    position: relative;
    font-family: "Ysabeau SC", sans-serif;
    background-color: var(--mainBackgroundColour);
    font-size: 1.2em;
    color:var(--mainTextColour);
    height: 100vh;
    min-height: 55em;
}

/*header and footer styles set*/
header {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2,auto);
    z-index: 10;
}

header, footer {
    background-color: var(--headerFooterColour);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0em;
    left: 0;
    display: grid;
    grid-template-rows: repeat(2,auto);
}

footer div{
    margin: auto;
    padding: 0.5em 0em;
}

#smallScreen{
    display: none;
}

/*styling of the header and footer contents*/
footer a:link, footer a:visited{
    padding: 0.2em 1em;
}

#logo {
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
}

#nav{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
}

/*general styling of the links used across the webpage*/
a:link, a:visited{
    color: var(--mainTextColour);
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.6em 0.8em;
    border: solid 0.1em transparent;
    margin: 0 0.2em;
}

a:hover{
    color: var(--secondaryTextColour);
    border-top-color: var(--secondaryTextColour);
    border-bottom-color: var(--secondaryTextColour);
}

/*styling for general page contents*/
#pageTitle{
    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Lalezar";
    font-size: 4em;
    width: 70%;
    color: var(--headingsColour);
    text-align: center;
}

section{
    position: absolute;
    top: 13em;
    left: 50%;
    transform: translateX(-50%);
    padding-top:6em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(2,auto);
    color: var(--darkTextColour);
    width: 70%;
    margin:auto;
}

figure{
    background-color: transparent;
    text-align: center;
}

img{
    border-radius: 4em;
    width: 20em;
}

#mainPageText {
    font-size: 1.2em;
    font-family: "Cambay", sans-serif;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 4em;
    text-align: center;
}

/*styling for smaller screens*/
@media (max-width: 1200px) {
    body{
        min-height: 50em;
    }

    #pageTitle{
        font-size: 2.5em;
        width: 90%;
        top: 4em;
    }

    img{
        width: 15em;
    }

    #mainPageText {
        font-size: 0.9em;
        width: 90%;
    }
}
@media (max-width: 900px) {
    body{
        min-width: 3em;
    }

    #pageTitle{
        font-size: 2em;
        width: 90%;
        top: 4em;
    }

    section{
        display: block;
        padding-top: 2em;
    }

    img{
        left: 0%;
        transform: translateX(0%);
        width: 15em;
        position: static;
    }

    figure{
        margin: 0;
        padding: 0;
    }

    #mainPageText {
        font-size: 0.8em;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    header, footer {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    body{
        min-height: 65em;
    }

    #smallScreen{
        display:block;
    }

    #bigScreen{
        display:none;
    }
}

/*styling for text existing further in the page*/
/* h1{
    font-size: 2em;
    color: var(--headingsColour);
}

ul{
    list-style: square;
    margin-left: 1.5em;
}

#mainpageH1{
    color: var(--generalDivColour);
} */